%h1.centered Transit IT Secret Santa
- if @registered.count < @expected_count
  .row
    .col-lg-8.col-lg-offset-2
      .status-text
        There are
        = @expected_count
        participants expected this year, of whom
        = @registered.count
        have succesfully registered:
        %ul.user-list
          - @registered.each do |user|
            %li= user.name
      .status-text
        Once the expected number of participants have registered,
        return here to find out who your giftee is!
- elsif @claimed_count < @expected_count
  .row
    .col-lg-6.col-lg-offset-3
      .status-text
        = @claimed_count
        out of 
        = @expected_count
        participants have a secret Santa.
  - if @giftee.present?
    .row
      .col-lg-offset-3.col-lg-2
        Your giftee is #{@giftee.name}.
  - else
    .row= render partial: 'claim_button'
- else
  .row
    .col-lg-6.col-lg-offset-3
      .status-text
        All
        = @expected_count
        participants have a secret Santa.
        Let the fun begin!
