%h1.centered UMTS Secret Santa
- if @registered_count < @expected_count
  .row
    .col-lg-8.col-lg-offset-2
      .status-text
        There are
        = @expected_count
        participants expected this year, of whom
        = @registered_count
        have registered:
        %ul.user-list
          - User.all.each do |user|
            %li= user.name
        %br
        Once the expected number of participants have registered,
        return here to find out who your giftee is!
  .row= render partial: 'register_form'
- elsif @claimed_count < @expected_count
  .row
    .col-lg-6.col-lg-offset-3
      .status-text
        = @claimed_count
        out of 
        = @expected_count
        participants have a secret Santa.
  .row= render partial: 'claim_button'
- else
  .row
    .col-lg-6.col-lg-offset-3
      .status-text
        All
        = @expected_count
        participants have a secret Santa.
        Let the fun begin!
