%h1.centered UMTS Secret Santa
- if @registered_count < @expected_count
  .row
    .col-lg-6.col-lg-offset-3
      .status-text
        There are
        = @expected_count
        participants this year, of whom
        = @registered_count
        have registered.
  .row= render partial: 'register_form'
- elsif @claimed_count < @expected_count
  .row
    .col-lg-6.col-lg-offset-3
      .status-text
        = @claimed_count
        out of 
        = @expected_count
        participants have a secret Santa.
  .row= render partial: 'claim_button'
- else
  .row
    .col-lg-6.col-lg-offset-3
      .status-text
        All
        = @expected_count
        participants have a secret Santa.
        Let the fun begin!
