!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %title Secret Santa
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .panel.panel-default
        - if flash[:notice].present?
          .flash.notice= flash[:notice]
        - if flash[:error].present?
          .flash.error= flash[:error]
        - if flash[:alert].present?
          .flash.alert= flash[:alert]
        .panel-body
          = yield
          .source-link= link_to 'Show me the source!', 'https://github.com/dfaulken/secret-santa'
