!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %title Secret Santa
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .panel.panel-default
        - if flash[:notice].present?
          .flash.notice= flash[:notice]
        - if flash[:error].present?
          .error= flash[:error]
        .panel-body= yield
